html {
	font-size: 100%;
}
input,
select,
textarea,
button,
.ui-btn {
	font-size: 1em;
	line-height: 1.2;
	font-family: Microsoft YaHei /*{global-font-family}*/;
}
body{
	margin: 0;
	font-size: 1em;
	line-height: 1.2;
	font-family: Microsoft YaHei;
	background-color: #f7f7f7;
}
a{
	text-decoration: none;
}
ul, ul li{
	margin: 0;
	padding: 0;
	list-style: none;
}
.grid-a,
.grid-b,
.grid-solo{
	overflow: hidden;
}
.block-a {
	clear: left;
}
.block-a,
.block-b,
.block-c{
	width: 50%;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.grid-solo > .block-a {
	width: 100%;
}
.grid-b > .block-a,
.grid-b > .block-b,
.grid-b > .block-c {
	/* width: 33.25%; IE7 */
	/* margin-right: -.5px; BB5 */
	width: 33.333%;
}
.header{
	background-color: #efeff4;
	/*height: 2.75em;*/
	font-size: 1em;
	min-height: 1.1em;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	outline: 0 !important;
}
.fixed{
	top: -1px;
	padding-top: 1px;
	left: 0;
	width: 100%;
	position: fixed;
	z-index: 1000;
}
.header .block-a{
	width: 30%;
	position: relative;
	padding: .4em;
}
.header .block-b{
	width: 70%;
	padding: .4em;
	position: relative;
}
.header .block-b:before,
.header .block-b .r{
	width: 1px;
	height: 5px;
	background-color: #7dbbd2;
	position: absolute;
	bottom: .4em;
}
.header .block-b:before{
	content: '';
	left: .4em;
}
.header .block-b .r{
	right: .4em;
}
.header .locate_btn{
	width: 100%;
	font-size: 1em;
	padding: .4em 0;
	font-weight: normal;
	color: #333;
	z-index: 10;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	position: relative;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-color: #7dbbd2 ;
	border-style: solid;
	border-width: 0 0 1px 0;
}
.header .block-a:after{
	content: '';
	background-image: url(../images/locate_bg.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	width: .6em;
	height: .6em;
	position: absolute;
	bottom: .4em;
	right: .4em;
}

.header .block-b input {
	border: 1px solid #7dbbd2;
	border-width: 0 0 1px 0;
	border-radius: 0;
	padding: .35em .4em .3em .4em;
	padding-left: 1.2em;
	margin: 0;
	min-height: 1em;
	text-align: left;
	background: transparent none;
	-webkit-appearance: none;
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	font-size: 1em;
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	background-size: auto 60%;
	background-position: left;
	color: #8e8e93;
}
.header .block-b input:focus{
	background-image: none;
	padding-left: .2em;
}
.header .cancel_btn{
	color: #8e8e93;
	display: none;
}
.header .search_btn{
	color: #7dbbd2;
	display: none;
}
.header .search_btn,
.header .cancel_btn{
	width: 15%;
	text-align: center;
	padding: .4em 0;
	position: absolute;
	right: 0;
	top: .6em;
}
.search-record{
	display: none;
	padding: 0 .4em;
}
.search-record h4.title{
	border-bottom: 0; 
	font-size: .9em;
}
.search-record .listview > li{
	padding: .6em.4em ;
	border-top: 1px solid #D5D5D5;
}
.screen{
	background-color: #000;
	filter: Alpha(Opacity=60);
	opacity: .6;
	position: fixed;
	left: 0;
	top:0;
	height: 100%;
	width: 100%;
	z-index: 100;
	display: none;
}
.main{
	margin-top: 2.75em;
}
.main .quicklink{
	padding: .6em 0 .2em 0;
	margin: 0;
}
.quicklink li{
	margin: 0;
	padding: 0 .4em .4em .4em;
	list-style: none;
}
.quicklink li:nth-child(2n+1){
	padding-right: 0;
}
.quicklink li a{
	padding: 0.5em 3.4em 0.5em 0.4em;
	height: 3em;
	margin: 0;
	display: block;
	position: relative;
	text-align: left;
	-webkit-box-shadow: 0 .15em .15em #b4b4b4 ;
	-moz-box-shadow: 0 .15em .15em #b4b4b4 ;
	box-shadow: 0 .15em .15em #b4b4b4 ;
	color: #fff;
}
.quicklink li h3{
	font-size: 1.1em;
	margin: .2em 0;
	overflow: hidden;
	white-space: nowrap;
}
.quicklink li p{
	margin: 0;
	font-size: .7em;
	/*overflow: hidden;
	white-space: nowrap;*/
}
.quicklink li img{
	margin: .5em .2em;
	max-width: 3em;
	max-height: 3em;
	position: absolute;
	right: 0;
	top: 0;
}
.quicklink .ql1 a{
	background-color:#b9adf5; 
}
.quicklink .ql2 a{
	background-color:#89c05f; 
}
.quicklink .ql3 a{
	background-color:#f9c03a; 
}
.quicklink .ql4 a{
	background-color:#ef674d; 
}
.quicklink .ql5 a{
	background-color:#b28850; 
}
.quicklink .ql6 a{
	background-color:#6c9ae7; 
}
.main .subsec{
	padding: 0 .8em;
	margin: .4em .8em .4em 1.5em;
	position: relative;
	background-color: #fff;
	-webkit-box-shadow: 0 .1em .2em #c6c6c6 ;
	-moz-box-shadow: 0 .1em .2em #c6c6c6 ;
	box-shadow: 0 .1em .2em #c6c6c6 ;
}
.subsec:before{
	content: "";
	display: block;
	height: 6em;
	width: 1.2em;
	padding-bottom: 1px; 
	position: absolute;
	left: -1.1em;
	top: 0;
}
.ss1:before{
	background: url(../images/ss1.png) right no-repeat transparent;
	background-size:  auto 100%;
}
.ss2:before{
	background: url(../images/ss2.png) left no-repeat transparent;
	background-size: auto 100%;
}
.ss3:before{
	background: url(../images/ss3.png) left no-repeat transparent;
	background-size: auto 100%;
}
.ss4:before{
	background: url(../images/ss4.png) left no-repeat transparent;
	background-size: auto 100%;
}

.subsec .grid-a,
.subsec .grid-solo{
	height: 3em;
}
.subsec .grid-a:first-child{
	border-bottom: 1px solid #d1d1d1; 
}
.subsec .block-a,
.subsec .block-b{
	margin: .7em 0;
	padding: .2em;
	font-size: 1em;
	text-align: center;
	color: #333333;
}
.subsec .grid-a .block-a{
	border-right: 1px dashed #d1d1d1; 
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix{
  *zoom:1;
}
.clearfix:after{
  clear: both;
}
.locate{
	margin: 0 .5em;
}
h4.title{
	margin: 0;
	padding: .4em;
	border-bottom: .12em solid #33B5E5;
	color: #33B5E5;
	font-size: .95em;
}

.locate .curcity{
	border-bottom: 1px solid #D8D8D8;
}
.locate .hotcity .grid-b{
	padding: .2em 0;
}
.locate .hotcity .btn{
	text-align: center;
}
.locate .btn{
	margin: 0;
	padding: .6em .2em;
	color: #333333;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	cursor: pointer;
}
.locate .procity .listview > li a.btn{
	border-bottom: 1px solid #D3D3D3;
	color: #333333;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}
.locate .collapsed-content .listview > li a.btn{
	padding-left: .6em;
}
.locate .procity .collapsed:after{
	content: '';
	background-image: url(../images/carat-d.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 1em;
	height: .6em;
	position: absolute;
	right: .6em;
	top: 50%;
	margin-top: -0.25em;
}
.locate .procity .expand:after{
	background-image: url(../images/carat-u.png);
}
.collapsed-content{
	display: none;
}

.listview, .listview > li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.listview > li {
	display: block;
	position: relative;
	overflow: visible;
}
.listview > .graphiclist > .btn {
	padding: 0.2em;
	min-height: 4em;
	padding-left: 4.5em;
	color: #333;
	border-bottom: 1px solid #D5D5D5;
	margin: 0;
	display: block;
	position: relative;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-decoration: none!important;
}
.listview > .graphiclist > .btn img{
	position: absolute;
	left: 0;
	top: 0;
	max-height: 4em;
	max-width: 4em;
	margin: .2em 0;
	border:0;
}
.listview > li .btn h2{
	font-size: 1em;
	font-weight: 700;
	display: block;
	margin: 1.2em 1em 0 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.listview > li .btn h2 .key{
	color: #33B5E5;
}
.listview > li p {
	font-size: .75em;
	display: block;
	margin: .6em 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.listview > li b {
	color: #33B5E5;
}
.listview > li .btn-detail h2{
	margin: .45em 0;
}
.listview .graphiclist .btn:after{
	right: .5625em;
	top: 50%;
	content: "";
	position: absolute;
	margin-top: -0.5em;
	display: block;
	width: 1em;
	height: 1em;
	background-position: center center;
	background-repeat: no-repeat;
	background-image:url(../images/carat-r.png);
}
.recom{
	margin-top: .6em; 
	background-color: #fff;
	padding-top: .05em;
}
.recom .graphiclist:first-child .btn {
	border-top: 1px solid #D5D5D5;
}
.recom .graphiclist .btn img{
	max-width: 6em;
	max-height: 5em;
	margin: .4em ;
}
.recom .graphiclist .btn {
	padding-left: 6.8em;
}
.recom li .btn h2 {
	margin: .6em 0 0 0;
}
.recom  li p {
	margin: .4em 0 0 0;
}
.recom li .btn .word{
	color: #777777;
}
.recom li .btn .tel{
	font-size: 1.1em;
	color: #33B5E5;
	margin-bottom: .4em;
}
.recom li .btn .aside{
	font-size: .6em;
	background:url(../images/phone.png) left no-repeat #33B5E5;
	background-position: .2em;
	background-size: 18%;
	color: #ffffff;
	padding: .1em .2em .2em 1em;
}
.recom .graphiclist .btn:after{
	background-image: url(../images/dcarat-r.png);
}
.result .graphiclist .btn {
	padding-top: .6em;
	padding-bottom: .6em;
}
.result .graphiclist .btn img{

}
.cate{
	padding: .2em .4em;
}
.cate .view{
	float: right;
	text-align: right;
	color: #33B5E5;
	font-size: .8em;
	padding-top: .4em;
	padding-right: .4em;
}
