<div class="goodslist">
	<!--ul class="listview recom">
		<li class="graphiclist">
			<a href="#" class="btn">
				<img src="./images/recom.png">
				<h2>海底捞火锅</h2>
				<p class="word">"服务至上，顾客至上"</p>
				<p class="tel">
					4008-107-107
					<span class="aside">官方客服</span>
				</p>
			</a>
		</li>
	</ul-->
	<div class="cate clearfix" ng-if="yellowList.type=='category'" ng-repeat="yellowKey in yellowKeyList">
		<h4 class="title">{{yellowKey}}</h4>
		<ul class="listview">
			<li class="graphiclist" ng-repeat="item in yellowList.list[yellowKey]">
				<a href="tedsearchcontact:{{item.phone}}" class="btn">
					<img ng-src="{{item.logo}}" ng-if="item.logo">
					<img ng-src="images/default.png" ng-if="!item.logo">
					<h2>{{item.name}}</h2>
				</a>
			</li>
		</ul>
		<a ui-sref="yellow({key:yellowKey})" class="view">查看全部</a>
	</div>
	<div class="cate clearfix" ng-if="yellowList.type=='list'">
		<ul class="listview">
			<li class="graphiclist" ng-repeat="item in yellowList.list">
				<a href="tedsearchcontact:{{item.phone}}" class="btn">
					<img ng-src="{{item.logo}}" ng-if="item.logo">
					<img ng-src="images/default.png" ng-if="!item.logo">
					<h2>{{item.name}}</h2>
				</a>
			</li>
		</ul>
		<!--a href="#" class="view">查看全部</a-->
	</div>
</div>