<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0, maximum-scale=1.0">
	<meta http-equiv="pragma" content="no-cache">
	<meta name="format-detection" content="telephone=no" />
	<link rel="shortcut icon" href="favicon.png" type="image/gif" sizes="16×16">
	<title>列表</title>
	<link rel="stylesheet" href="../css/style.css"></head>
</head>
<body>
	<div class="goodslist">
		<ul class="listview recom">
			<li class="graphiclist">
				<a href="#" class="btn">
					<img src="./images/recom.png">
					<h2>海底捞火锅</h2>
					<p class="word">"服务至上，顾客至上"</p>
					<p class="tel">4008-107-107 <span class="aside">官方客服</span></p>
				</a>
			</li>
		</ul>
		<div class="cate clearfix" ng-repeat="category in yellowList.list">
			<h4 class="title">{{category}}</h4>
			<ul class="listview">
				<li class="graphiclist" ng-repeat="item in category">
					<a href="{{item.url}}" class="btn">
						<img src="{{item.logo}}">
						<h2>{{item.name}}</h2>
					</a>
				</li>
			</ul>
			<a href="" class="view">查看全部</a>
		</div>
		<!--div class="cate clearfix">
			<h4 class="title">餐厅</h4>
			<ul class="listview">
				<li class="graphiclist">
					<a href="#" class="btn">
						<img src="./images/goods.png">
						<h2>将太无二（金地中心餐厅）</h2>
					</a>
				</li>
				<li class="graphiclist">
					<a href="#" class="btn">
						<img src="./images/goods.png">
						<h2>旺顺阁鱼头泡饼（大望路什么）</h2>
						
					</a>
				</li>
				<li class="graphiclist">
					<a href="#" class="btn">
						<img src="./images/goods.png">
						<h2>玲珑小镇</h2>
					</a>
				</li>
			</ul>
			<a href="" class="view">查看全部</a>
		</div>
		<div class="cate clearfix">
			<h4 class="title">咖啡厅</h4>
			<ul class="listview">
				<li class="graphiclist">
					<a href="#" class="btn">
						<img src="./images/goods.png">
						<h2>Broken Bells</h2>
					</a>
				</li>
				<li class="graphiclist">
					<a href="#" class="btn">
						<img src="./images/goods.png">
						<h2>动物园咖啡（soho现代城）</h2>
					</a>
				</li>
				<li class="graphiclist">
					<a href="#" class="btn btn-detail">
						<img src="./images/goods.png">
						<h2>costcafei</h2>
						<p>位于某某某地区</p>
					</a>
				</li>
			</ul>
			<a href="" class="view">查看全部</a>
		</div-->
	</div>
	<!--script defer src="../js/jquery.min.js"></script-->
	<script defer src="../js/script.js"></script>
</body>
</html>